<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>All of Our Icecream</h1>

<ul>
{{#each icecreams }}
  <li>{{name}}</li>
{{/each}}
</ul>